body {
  background-color:#FCF8E8
}
h1 {
  color:#000000
}
h2{
  color:#DF7861
}
h3 {
color: #DF7861
}
hr {
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-color: #ECB390;
  width: 17%;
  border-width:7px;
}
